{% extends "accounts/anonymous_base.html" %}

{% block content %}
<h2>Login</h2>

<form action="" method="post">
    {% csrf_token %}
    <div>
        <label for="username">Username</label>
        <input type="text" name="username" placeholder="Username..." />
    </div>
    <div>
        <label for="password">Password</label>
        <input type="password" name="password" placeholder="Password..." />
    </div>
    <input type="Submit" value="Login" />
</form>
<div>
    <p>
        Already have an account? <a href='{% url "register" %}'>Sign in</a>
    </p>
</div>
{% for message in messages  %}
    <p>{{ message }}</p>
{% endfor %}

{% endblock content %}