<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'feed\styling\styles.css' %}">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.27.0/themes/prism-coy.min.css" rel="stylesheet" />
    </head>
    <body>
        <div class="main">
            <div class="content">
                <div class="content-items">
                    <div class="content">
                        {% block content %}
                        {% endblock %}
                    </div>
                </div>
            </div>
            <div class="navigation">
                    <div class="navigation__item">
                        <div style="max-width: 100%;">
                            <img src="{% get_media_prefix %}icons/bitmap.svg" style="max-width: 100%;">
                        </div>
                        <div class="navigation__header">
                            <form action="{% url 'search' %}" method="GET">
                                <input type="text" placeholder="Search..." name="search_value"/>
                                <input type="image" src="{% get_media_prefix %}icons/search.svg" />
                            </form>
                        </div>
                        <p><a href="{% url 'homepage' %}">Home</a></p>
                        <p><a href="{% url 'profile' request.user.id %}">My Profile</a></p>
                        <p><a href="{% url 'game_browse' %}">Games</a></p>
                        <p><a href="{% url 'logout' %}">Logout</a></p>
                    </div>
                </div>

            </div>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.27.0/prism.min.js" defer></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.27.0/components/prism-python.min.js"></script>
    </body>
</html>