<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'styling/styles.css' %}">
    </head>
    <body>
        <div>
            <h1>Quicksave</h1>
        </div>
        <div class="main">
            <div class="content">
                <div class="content-items">
                    <div class="content">
                        {% block content %}
                        {% endblock %}
                    </div>
                </div>
            </div>
            <div class="navigation">
                    <div class="navigation__item">
                        <div class="navigation__header">
                            <input type="text" placeholder="Search..." />
                        </div>
                        <p><a href="{% url 'homepage' %}">Home</a></p>
                        <p><a href="{% url 'profile' request.user.id %}">My Profile</a></p>
                        <p><a href="{% url 'game_browse' %}">Games</a></p>
                        <p><a href="{% url 'logout' %}">Logout</a></p>
                    </div>
                </div>
            </div>
        </div>
        
    </body>
</html>