{% extends "base.html" %}

{% block content %}
{% load static %}
<script src="{% static 'javascript/feed/_processing.js' %}" defer></script>
<div class="welcome-container1">

    {# Welcome Block #}
    <h3>Welcome, {{ request.user.username }}</h3>

    {# Defunct New Post Button #}
    <a href="{% url 'create_post' %}"><button>New Post</button></a>


    {# Create New Game Form #}
    <a href="{% url 'create_game' %}"><button>Create New Game</button></a>

</div>

{# Main Posts Loops #}
{# Gathers all posts and sorts them chronologically #}
{% for post in posts reversed %}

    {# Individual Post #}
    <div class="post-card post-card--big">
        <div class="post-card-top-level-post">

            
            {# Related Game #}
            {% if post.related_game %}
            <a href="{% url 'game_landing' post.related_game.id %}" class="related-game-button related-game-button--small">
                <p>{{ post.related_game.title }}</p>
            </a>
            {% endif %}

            {# Top Level Post Author Profile Picture #}
            <div class="post-header-container">
                <div class="post-header-container__profile-pic">
                    {% if post.author.extended_data.profile_pic %}
                        <img src="{{ post.author.extended_data.profile_pic.url}}" class="post-card-profile-pic">
                    {% else %}
                        <img src="{% get_media_prefix %}/avatars/placeholder/avatar_placeholder.png" class="post-card-profile-pic">
                    {% endif %}
                </div>

                {# Author Block #}
                <div class="post-header-container__author">
                    {# Top Level Post Author Username #}
                    <p>{{ post.author.username }}</p>
                </div>

                {# Follow Button Block #}
                <div class="post-header-container__follow-btn">
                    {# Follow Button #}
                    {% if post.author not in extended_user_data.followed_users.all %}
                        <form action="{% url 'process_follow' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" value="{{ request.user.id }}" name="initiating_user_id" />
                            <input type="hidden" value="{{ post.author.id }}" name="target_user_id" />
                            <input type="image" src="{% get_media_prefix %}/icons/plus-rectangle.svg" class="like-submit-button" />
                        </form>
                    {% else %}
                    <form>
                        <input type="image" src="{% get_media_prefix %}/icons/follow-btn-activated.svg" class="like-submit-button"  disabled/>
                    </form>
                    {% endif %}
                </div>
                <div class="post-header-container__more-btn">
                    <img src="{% get_media_prefix %}/icons/more-horizontal.svg">
                </div>

            </div>

            {# Post Body #}
            <div class="post-body">
                <p>{{ post.post_content }}</p>
            </div>


            <div class="post-footer">
                {# Like and Dislike Button #}
                <div class="post-footer__like-btn">
                    <div class="post-footer__button-container">
                        <div class="post-footer__button-container__icon">
                            <form method="post" class="post-like-form">
                                {% csrf_token %}
                                <input type="hidden" value="{{ request.user.id }}" name="user_id" class="post-like-user-id" />
                                <input type="hidden" value="{{ post.id }}" name="post_id" class="post-like-post-id"/>
                                {% if post in request.user.likes.all %}
                                <input type="image" src="{% get_media_prefix %}/icons/like-btn-activated.svg" alt="Like" class="like-submit-button"/>
                                {% else %}
                                <input type="image" src="{% get_media_prefix %}/icons/like-btn-deactivated.svg" alt="Like" class="like-submit-button"/>
                                {% endif %}
                            </form>
                        </div>
                        <div class="post-footer__button-container__button">
                            <p>{{ post.num_likes }}</p>
                        </div>
                    </div>
                </div>


                    <div class="post-footer__dislike-btn">
                        <div class="post-footer__button-container">
                            <div class="post-footer__button-container__icon">
                                <form method="post" class="post-dislike-form">
                                    {% csrf_token %}
                                    <input type="hidden" value="{{ request.user.id }}" name="user_id" class="post-dislike-user-id" />
                                    <input type="hidden" value="{{ post.id }}" name="post_id" class="post-dislike-post-id" />
                                    {% if post in request.user.dislikes.all %}
                                    <input type="image" src="{% get_media_prefix %}/icons/dislike-btn-activated.svg" alt="Like" class="like-submit-button"/>
                                    {% else %}
                                    <input type="image" src="{% get_media_prefix %}/icons/dislike-btn-deactivated.svg" alt="Like" class="like-submit-button"/>
                                    {% endif %}
                                </form>
                            </div>
                            <div class="post-footer__button-container__button">
                                <p>{{ post.num_dislikes }}</p>
                            </div>
                        </div>
                    </div>
                
                <div class="post-footer__replies">
                    <div class="post-footer__button-container">
                        <div class="post-footer__button-container__icon">
                            <img src="{% get_media_prefix %}/icons/replies.svg" alt="Like" class="like-submit-button"/>
                        </div>
                        <div class="post-footer__button-container__button">
                            <p>{{ post.num_comments }}</p>
                        </div>
                    </div>
                </div>
                
                <div class="post-footer__see-post-btn">
                    {# Link to Individual Post Page #}
                            <p><a href="{% url 'individual_post' post.id %}">See Post</a></p>
                </div>
            </div>
            


        </div>

        {% comment "This block is no longer necesssary, but keeping it here for now" %}
        {# Comments Block #}
        {% for comment in post.all_comments %}
            <div class="post-card-top-level-comment">

                {# Comment Profile Picture #}
                <div class="post-card-author-profile-pic-container">
                    <div class="post-card-profile-pic-container">
                        {% if post.author.extended_data.profile_pic %}
                            <img src="{{ comment.author.extended_data.profile_pic.url}}" class="post-card-comment-pic">
                        {% else %}
                            <img src="{% get_media_prefix %}/avatars/placeholder/avatar_placeholder.png" class="post-card-comment-pic">
                        {% endif %}
                    </div>

                    {# Comment Author #}
                    <div class="post-card-author">
                        <p>{{ comment.author.username }}</p>
                    </div>

                </div>

                {# Comment Body #}
                <p>{{ comment.post_content }}</p>
                
                {# First Level Comment Like and Dislike #}
                <div>   
                    <form method="post" class="post-like-form">
                        {% csrf_token %}
                        <input type="hidden" value="{{ request.user.id }}" name="user_id" class="post-like-user-id" />
                        <input type="hidden" value="{{ comment.id }}" name="post_id" class="post-like-post-id"/>
                        <input type="submit" value="Like" class="like-submit-button"/>
                    </form>
                    <form method="post" class="post-dislike-form">
                        {% csrf_token %}
                        <input type="hidden" value="{{ request.user.id }}" name="user_id" class="post-dislike-user-id" />
                        <input type="hidden" value="{{ comment.id }}" name="post_id" class="post-dislike-post-id" />
                        <input type="submit" value="dislike" />
                    </form>
                </div>
            </div>
        {% endfor %}
        {% endcomment %}
        
    </div>
{% endfor %}


{% endblock content %}