{% extends "base.html" %}

{% block content %}
{% load static %}

<script src="{% static 'javascript/games/_landing_processing.js' %}" defer></script>

<h1>{{ game.title }}</h1>

{% if request.user in game.developers.all %}
    <a href="{% url 'game_edit' game.id %}"><button>Edit Game Listing</button></a>
    <button>Publish Devblog</button>
    <button>Make Post</button>
{% else %}
    <form action="{% url 'process_follow_game' %}" method="post" class="game-follow-form">
        {% csrf_token %}
        <input type="hidden" value="{{ request.user.id }}" name="user_id" class="game-form-user-id"/>
        <input type="hidden" value="{{ game.id }}" name="game_id" class="game-form-game-id"/>
        <input type="submit" value="Follow Game" />
    </form>
{% endif %}
<div>
    <h2>{{ game.blurb }}</h2>
    {% if not game.title_img %}
        <img src="https://placehold.co/800x315">
    {% else %}
        <img src="{{ game.title_img.url }}" >
    {% endif %}
</div>

<div>
    <p>{{ game.description }}</p>
</div>
<h2>Developers<h2>
    {% for developer in game.developers.all %}
        {% if developer.extended_data.profile_pic %}
            <img src="{{ developer.extended_data.profile_pic.url }}" class="post-card-profile-pic">
        {% else %}
            <img src="{% get_media_prefix %}/avatars/placeholder/avatar_placeholder.png" class="post-card-profile-pic">
        {% endif %}
        
        <p>{{ developer.username }}</p>
    {% endfor %}
{% endblock content %}