{% extends 'base.html' %}

{% block content %}
{% load static %}

{# Profile Picture #}
<div>
    {% if data.profile_pic %}
        <img src="{{ data.profile_pic.url}}" class="profile__pic">
    {% else %}
        <img src="{% get_media_prefix %}/avatars/placeholder/avatar_placeholder.png" class="profile-page-profile-pic">
    {% endif %}
</div>

{# Username #}
<div class="username--emphasized">
    <h1>{{ user.username }}</h1>
</div>

{# Headliner #}
<div class="headliner">
    {% if data.headliner %}
        <h3>{{ data.headliner }}</h3>
    {% else %}
        <h3> No headliner yet :(</h3>
    {% endif %}
</div>

{# User Stats #}
<div class="stats">
    <div class="stats__users">
        <img src="{% get_media_prefix %}/icons/users.svg">
        <p class="stats__label">Followed Users</p> 
        <p class="stats__qty">{{ user.extended_data.followed_users.count }}
    </div>
    <div class="stats__posts">
        <img src="{% get_media_prefix %}/icons/posts.svg">
        <p class="stats__label">Amount of Posts</p> 
        <p class="stats__qty">{{ post_qty }}
    </div>
    <div class="stats__games">
        <img src="{% get_media_prefix %}/icons/gamepad.svg">
        <p class="stats__label">Followed Games</p> 
        <p class="stats__qty">{{ user.extended_data.followed_games.count }}
    </div>
</div>

{# Follow Button #}
{% if request.user.id != user.id %}
    <h3>Follow</h3>
{% endif %}

{# User Bio #}
{% if data.bio %}
    <p>{{ data.bio }}</p>
{% else %}
    <p> No bio yet :(</p>
{% endif %}








{# Followed Games #}
{% for game in data.followed_games.all  %}
<h1>{{ game.title }}</h1>
{% endfor %}


{# Profile Edit Button #}
{# Only renders if the targeted user ID and the request user ID are the same #}
{% if request.user.id == user.id %}
    <a href="{% url "edit_profile" user.id %}"><button>Edit</button></a>
{% endif %}
{% endblock %}