@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

body {
    margin: 0;
    font-family: "Roboto Flex", sans-serif;
    color: #2c3e50;

}

.generic-flex-container {
    display: flex;

}

.generic-flex-container-child {
    flex: 1 1 100%;
    align-content: center;
}

.main-view {
    display: flex;
    text-align: center;
}


.content-container {
    flex: 1 1 85%;
    text-align: left;
    padding: 15px;
    
}

.navigation-container {
    flex: 0 1 15%;
    align-content: center;

    
}

.navigation-header {
    margin-bottom: 25px;
    padding: 25px;
}

.navigation-items {
    position: fixed;
    top: 10vh;
    right: 0;
    height: 80vh;
    width: 15%;
    align-content: center;
    border-left: 3px solid gray;
    border-image: linear-gradient(blue, red) 1;
  
}

/* Main Content Styling */
#message-box {
    position: sticky;
    top: 100px;
    left: 100px;
    background-color: #3498db;
    padding: 50px;
}

.content-items-header-container {
    padding: 10px;
    margin-bottom: 25px;
}

.social-bar-container {
    position: fixed;
    top: 15px;
    right: 16%;
    text-align: right;
    align-content: center;
    flex: 1 1 25%;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #3498db;
    border-radius: 1.5rem;
    box-shadow: 0.4em 0.4em 1em rgba(0,0,0,0.3);

}

.social-bar-item-containers {
    display: flex;
    align-content: center;
    
}

.social-bar-item {
    flex: 1 1 100%;
    padding: 10px;
}

.welcome-container {
    padding: 10px;
    border: 1px solid #3498db;
    margin: 10px;
    /* I stole this code */
    border-radius: 10px;
    box-shadow: 0 0  0 2px rgb(190, 190, 190),
    0.3em 0.3em 1em rgba(0,0,0,0.3);
}
.welcome-container > h3 {
    text-align: center;
}





/* Profile Page Styling */
.profile-page-profile-pic {
    border-radius: 100%;
    height: 128px;
    width: 128px;
}
   
/* Related Game Button Stlying */
/* Used on Posts to link to the game that the post was made under */
.related-game-button {
    background-color: #2ecc71;
    border-radius: 50px;
    padding: 5px;
    width: 20%;
    display: inline-block;
    text-decoration: none;
    color: white;
    text-align: center;
    margin-bottom: 15px;
    font-size: small;
}

.related-game-button:visited {
    text-decoration: none;
}

.related-game-button:hover {
    background-color: #7f8c8d;
}

.related-game-button--small {
    width: 10%;
    padding: 2px;
    border-radius: 50px;
}

/* Post Card */
/* Contains all the stlying for Posts for the homepage and individual posts */

.post-card {
    padding: 15px;
    margin-left: 75px;
    margin-right: 45px;
    margin-top: 15px;
    margin-bottom: 15px;

    /* I stole this code */
    border-radius: 10px;
    transition: border-radius 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    box-shadow: 0 0  0 2px rgb(190, 190, 190), 0.3em 0.3em 1em rgba(0,0,0,0.3);
}

.post-card--big {
    margin: 0;
    margin-bottom: 25px;
    padding: 25px;
    padding-bottom: 15px;
}

/* RENAME THESE post-card--depth-1, etc. */
.depth-1 {
    margin-left: 60px;
    margin-right: 75px;
}

.depth-2 {
    margin-left: 100px;
    margin-right: 75px;
}


/* Post Header */
/* Used on Posts on the homepage and on individual posts */
/* Contains Profile Picture, Follow Button, and Username */
.post-header-container {
    display: flex;
}

.post-header-container__profile-pic {
    flex: 0 0 5%;

}

/* RENAME THIS */
.post-card-profile-pic {
    border-radius: 100%;
    height: 64px;
    width: 64px;  
}

.post-header-container__author {
    flex: 0 1 15%;
    font-weight: bolder;
    align-content: center;
    margin: 0;
}

.post-header-container__follow-btn {
    flex: 0 1 100%;
    align-content: center;
    text-align: right;
}

.post-header-container__more-btn {
    flex: 1 0 2%;
    align-content: center;
    text-align: right;
}

/* Post Body */
/* Contains the Post Content */
.post-body {
    padding: 10px;
    border-bottom: 1px solid lightgray;
}

/* Post Footer */
/* Contains the Likes, Dislikes, Replies, and See more Button */
.post-footer {
    display: flex;
    text-align: center;
    margin-top: 10px;
    
}

.post-footer__like-btn {
    flex: 0 1 5%;
    margin-right: 15px;
}

.post-footer__dislike-btn {
    flex: 0 1 5%;
    margin-right: 15px;
}

.post-footer__replies {
    flex: 0 1 10%;
    margin-right: 15px;
}

.post-footer__see-post-btn {
    flex: 1 1 80%;
    text-align: right;
}

.post-footer__add-comment-container {
    flex: 1 1 80%;
    text-align: right;
}

.post-footer__add-comment-container__button {
    display:inline-block;
    background-color: #2878ad;
    color: white;
    padding: 0px 10px 0 10px;
    border-radius: 15px;
    transition-duration: 150ms;
}

.post-footer__add-comment-container__button:hover {
    background-color: #2892ad;
}

.post-footer__button-container {
    display: flex;
}

.post-footer__button-container > div {
    flex: 0 1 25%;
    align-content: center;
}

/* Add Comment Form */
/* Appears on the individual post page */
.add-comment-form {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid lightgray;
    margin-top: 10px;
}

.add-comment-form--hidden {
    display: none;
}

.add-comment-form__input-box > textarea {
    resize: none;
    width: 90%;
    height: 50px;
    border-radius: 10px;
    padding: 10px;
}

.add-comment-form__submit-btn {
    background-color: #2878ad;
    border-radius: 10px;
    border: none;
    outline: none;
    padding: 10px;
    color: white;
}

.add-comment-form__submit-btn:hover {
    background-color: #2899ad;
}