@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

body {
    margin: 0;
    font-family: "Roboto Flex", sans-serif;

}

.generic-flex-container {
    display: flex;

}

.generic-flex-container-child {
    flex: 1 1 100%;
    align-content: center;
}

.main-view {
    display: flex;
    text-align: center;
}


.content-container {
    flex: 1 1 85%;
    text-align: left;
    padding: 15px;
    
}

.navigation-container {
    flex: 0 1 15%;
    align-content: center;

    
}

.navigation-header {
    margin-bottom: 25px;
    padding: 25px;
}

.navigation-items {
    position: fixed;
    top: 10vh;
    right: 0;
    height: 80vh;
    width: 15%;
    align-content: center;
    border-left: 3px solid gray;
    border-image: linear-gradient(blue, red) 1;
  
}

/* Main Content Styling */
#message-box {
    position: sticky;
    top: 100px;
    left: 100px;
    background-color: #3498db;
    padding: 50px;
}
.hidden {
    display: hidden;
}
.content-items-header-container {
    padding: 10px;
    margin-bottom: 25px;
}

.social-bar-container {
    position: fixed;
    top: 15px;
    right: 16%;
    text-align: right;
    align-content: center;
    flex: 1 1 25%;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #3498db;
    border-radius: 1.5rem;
    box-shadow: 0.4em 0.4em 1em rgba(0,0,0,0.3);

}

.social-bar-item-containers {
    display: flex;
    align-content: center;
    
}

.social-bar-item {
    flex: 1 1 100%;
    padding: 10px;
}

.welcome-container {
    padding: 10px;
    border: 1px solid #3498db;
    margin: 10px;
    /* I stole this code */
    border-radius: 10px;
    box-shadow: 0 0  0 2px rgb(190, 190, 190),
    0.3em 0.3em 1em rgba(0,0,0,0.3);
}
.welcome-container > h3 {
    text-align: center;
}
.post-card {
    padding: 15px;
    margin-left: 75px;
    margin-right: 75px;
    margin-top: 15px;
    margin-bottom: 15px;
    /* I stole this code */
    border-radius: 10px;
    transition: border-radius 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    box-shadow: 0 0  0 2px rgb(190, 190, 190), 0.3em 0.3em 1em rgba(0,0,0,0.3);
}

.post-card-comment-container {
    background-color: #2878ad;
    padding: 15px;
    display: none;
}
.post-card-profile-pic-container {
    flex: 1 1 5%;
}
.post-card-profile-pic {
    border-radius: 100%;
    height: 64px;
    width: 64px;
    
}

.post-card-comment-pic {
    border-radius: 100%;
    height: 48px;
    width: 48px;

}

.post-card-top-level-post {
    border-bottom: 2px solid lightgray;
    margin-bottom: 25px;
}
.post-card-author-profile-pic-container {
    display: flex;
}


.post-card-author {
    flex: 1 1 95%;
    align-content: center;
    font-weight: bolder;
}
.post-card-top-level-comment {
    margin: 10px 0px 15px 50px;
    border-left: 2px solid gray;
    padding: 15px;
    background: lightgray;
}

/* Profile Page Styling */
.profile-page-profile-pic {
    border-radius: 100%;
    height: 128px;
    width: 128px;
}

.card {
    width: 190px;
    height: 254px;
    background: white;
    border-radius: 10px;
    transition: border-radius 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
   }
   
.shadow {
box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1),
            0 0  0 2px rgb(190, 190, 190),
            0.3em 0.3em 1em rgba(0,0,0,0.3);
}