@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

body {
    margin: 0;
    font-family: "Roboto Flex", sans-serif;
    color: #2c3e50;

}

.main {
    display: flex;
    text-align: center;
    max-width: 100vw;
}

.content {
    flex: 0 1 85%;
    text-align: left;
    padding: 1rem;
    
}

/* Navigation Styling */
/* Includes all the navigational links on the right sidebar */
.navigation {
    flex: 1 1 15%;
    align-content: center;
}

.navigation__header {
    margin-bottom: 2rem;
    padding: 2rem;
}

.navigation__item {
    position: fixed;
    top: 10vh;
    right: 0;
    height: 80vh;
    max-width: 15%;
    align-content: center;
    border-left: 3px solid gray;
    border-image: linear-gradient(blue, red) 1;
    z-index: 100;
  
}

/* Welcome Header */
/* Contains the User Greeting and the Create Button */
.welcome__container {
    display: flex;
    align-content: center;
    margin-bottom: 15px;
}

.welcome__greeting {
    text-align: left;
    flex: 1 1 95%;
}

.welcome__menu {
    flex: 1 1 5%;
    text-align: center;
    background-color: #3498db;
    border-radius: 10px;
    align-content: center;
    transition-duration: 150ms;
}

.welcome__menu:hover {
    background-color: #2878ad;
    transform: scale(1.1);
}

.welcome__icon {
    position: relative;
}

.welcome__actions {
    position: absolute;
    display: none;
    width: 250px;
    top: 40px;
    right: 0;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.welcome__menu:hover .welcome__actions {
    display: block;
}

.welcome__item {
    display: block;
    background-color: #ecf0f1;
    color: #2892ad;
    padding: 10px;
    border-bottom: 3px solid #2ecc71;
    text-decoration: none;

}

/* Profile Page Styling */
.profile__pic {
    border-radius: 100%;
    height: 128px;
    width: 128px;
}
.username--emphasized{
    margin: 0;
    line-height: 5px;
}
.headliner {
    margin-top: 0;
}
.stats {
    width: 50%;
    display: flex;
}

.stats > div {
    flex: 1 1 25%;
    border-right: 2px solid #2c3e50;
    padding: 12px 16px;
}

.stats__label {
    margin: 0;
}
.stats__qty {
    margin-top: 15px;
}
/* Related Game Button Stlying */
/* Used on Posts to link to the game that the post was made under */
.related-game-button {
    background-color: rgb(44, 62, 80);
    border-radius: 50px;
    padding: 5px;
    width: 20%;
    display: inline-block;
    text-decoration: none;
    color: white;
    text-align: center;
    margin-bottom: 15px;
    font-size: small;
}

.related-game-button:visited {
    text-decoration: none;
}

.related-game-button:hover {
    background-color: #7f8c8d;
}

.related-game-button--small {
    width: 10%;
    padding: 2px;
    border-radius: 50px;
}

/* Post Card */
/* Contains all the stlying for Posts for the homepage and individual posts */

.post-card {
    padding: 15px;
    margin-left: 75px;
    margin-right: 45px;
    margin-top: 15px;
    margin-bottom: 15px;

    /* I stole this code */
    border-radius: 10px;
    transition: border-radius 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    box-shadow: 0 0  0 2px rgb(190, 190, 190), 0.3em 0.3em 1em rgba(0,0,0,0.3);
}

.post-card--big {
    margin: 0;
    margin-bottom: 25px;
    padding: 25px;
    padding-bottom: 15px;
}

.post-card--no-margin-left {
    margin-left: 0;
}

/* RENAME THESE post-card--depth-1, etc. */
.depth-1 {
    margin-left: 60px;
    margin-right: 75px;
}

.depth-2 {
    margin-left: 100px;
    margin-right: 75px;
}


/* Post Header */
/* Used on Posts on the homepage and on individual posts */
/* Contains Profile Picture, Follow Button, and Username */
.post-header-container {
    display: flex;
}

.post-header-container__profile-pic {
    flex: 0 0 5%;

}

/* RENAME THIS */
.post-card-profile-pic {
    border-radius: 100%;
    height: 64px;
    width: 64px;
    margin-right: .5rem;  
}

.post-header-container__author {
    flex: 0 1 15%;
    font-weight: bolder;
    align-content: center;
    margin: 0;
}

.post-header-container__follow-btn {
    flex: 0 1 100%;
    align-content: center;
    text-align: right;
}

.post-header-container__more-btn {
    flex: 1 0 2%;
    align-content: center;
    text-align: right;
}

/* Post Body */
/* Contains the Post Content */
.post-body {
    padding: 10px;
    border-bottom: 1px solid lightgray;
}

/* Post Footer */
/* Contains the Likes, Dislikes, Replies, and See more Button */
.post-footer {
    display: flex;
    text-align: center;
    margin-top: 10px;
    
}

.post-footer__like-btn {
    flex: 0 1 5%;
    margin-right: 15px;
}

.post-footer__dislike-btn {
    flex: 0 1 5%;
    margin-right: 15px;
}

.post-footer__replies {
    flex: 0 1 10%;
    margin-right: 15px;
}

.post-footer__see-post-btn {
    flex: 1 1 80%;
    text-align: right;
}

.post-footer__add-comment-container {
    flex: 1 1 80%;
    text-align: right;
}

.post-footer__add-comment-container__button {
    display:inline-block;
    background-color: #2878ad;
    color: white;
    padding: 0px 10px 0 10px;
    border-radius: 15px;
    transition-duration: 150ms;
}

.post-footer__add-comment-container__button:hover {
    background-color: #2892ad;
}

.post-footer__button-container {
    display: flex;
}

.post-footer__button-container > div {
    flex: 0 1 25%;
    align-content: center;
}

/* Add Comment Form */
/* Appears on the individual post page */
.add-comment-form {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid lightgray;
    margin-top: 10px;
}

.add-comment-form--hidden {
    display: none;
}

.add-comment-form__input-box > textarea {
    resize: none;
    width: 90%;
    height: 50px;
    border-radius: 10px;
    padding: 10px;
}

.add-comment-form__submit-btn {
    background-color: #2878ad;
    border-radius: 10px;
    border: none;
    outline: none;
    padding: 10px;
    color: white;
}

.add-comment-form__submit-btn:hover {
    background-color: #2899ad;
}

/* Game Card Stlying */
.gamecard {
    flex-grow: 1;
    min-width: 30%;
    max-width: 30%;
    margin: 1rem .5rem;
    padding: .5rem;
}

.gamecard__btn {
    background-color: #2878ad;
    padding: 0px 10px;
    text-decoration: none;
    color: white;
    border-radius: 10px;
    transition-duration: 150ms;
    margin-top: 1rem;
    display: inline-block;
}
.gamecard__btn:hover {
    background-color: #2892ad;
    padding: 0 2rem;
}

.gamelist {
    display: flex;
    flex-wrap: wrap;
}
.gamecard:nth-child(3n+2){
    border-left: 2px solid #2892ad;
    border-right: 2px solid #2892ad;
}

/* Game Landing Page Styling */
.game-headliner__title{
    font-size: 3rem;
    margin-bottom: 0;
}

.game-headliner__blurb {
    margin-top: 0;
}
.game-details {
    display: flex;
}

.game-details__pic {
    flex: 0 0 50%;
}

.game-details__desc {
    flex: 0 0 50%;
    margin-left: 2rem;
}

.recent-posts {
    display: flex;
    flex-wrap: wrap;
}

.recent-posts__post {
    flex-grow: 1;
    min-width: 50%;
}

.recent-posts__header {
    margin-top: 2.5rem;
    margin-bottom: 0;
}

.feed-link {
    text-align: center;
    background-color: #2878ad;
    padding: .5rem;
    transition-duration: 150ms;
    max-width: 50%;
    margin: auto;
    border-radius: 10px;
}
.feed-link__btn {
    text-decoration: none;
    color: white;
}

.feed-link:hover {
    transform: scale(1.05);
    background-color: #2899ad;
}

